.login-dark {
    height:1000px;
    background: #090243 url(./assets/img/tem.jpg);
    background-size: cover;
    position:relative;
  }
  
  .login-dark form{
    max-width:400px;
    width: 100%;
    background-color: #062064ce;
    padding:40px;
    border-radius: 8px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark form .form-control {
    border: #10cfc2;
    background-color: #090243;
  }
  
  .login-dark form .btn-primary {
    background:#10cfc2;
    border:none;
    border-radius: 20px;
    padding:11px;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  
p {
  font-size: 0.85rem;
  text-align: center;
}  
.one {
  color: #10cfc2;
  text-align: center;
}

/* Register */

.Register-dark {
  height:1000px;
  background:#090243 url(./assets/img/tem.jpg);
  background-size:cover;
  position:relative;
}

.Register-dark form{
  max-width:400px;
  width: 100%;
  background-color: #062064ce;
  padding:40px;
  border-radius: 8px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.Register-dark form .form-control {
  border: #10cfc2;
  background-color: #090243;
}

.Register-dark form .btn-primary {
  background:#10cfc2;
  border:none;
  border-radius: 20px;
  padding:11px;
  font-size: 1.1rem;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.Register-dark form .btn-primary:hover, .Register-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.Register-dark form .forgot {
  display:block;
  text-align:center;
  font-size: 1rem;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

/* Navbar Profile */

.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}